{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
<h1>1 séquence enregistrée</h1>

<a href="{{ path('sequence_afficher',{'nomFichierSequence':nomFichierSequence}) }}" target="_blank">affichage de la séquence</a> 


{% endblock %}




