@import url('https://fonts.googleapis.com/css?family=Roboto');

/*********************************************************POLICE*************************************************************/
@font-face {
	font-family: azonixregular;
    src: url(../font/azonix-webfont.eot);
	src: url(../font/azonix-webfont.eot?#iefix) format("embedded-opentype"),
		 url(../font/azonix-webfont.otf) format("truetype"),
         url(../font/azonix-webfont.woff) format("woff"),
         url(../font/azonix-webfont.svg#azonixregular) format("svg");
    font-weight: normal;
    font-style: normal;
}
/*****************************************************************************************************************************/


/*********************************************************NAVBAR*************************************************************/


.navbar {
	font-family: azonixregular, sans-serif !important;
}

.navbar-brand {
	transition-property: color; /* Active la transition sur background-color */
    transition-duration: 1s; /* La transition dure 1s */
}
.navbar-brand:hover {
	color: rgb(0, 0, 0) !important;
}

/*****************************************************************************************************************************/

/*********************************************************GENERAL*************************************************************/


body {
	/*background: url(/img/11.jpg) no-repeat center center fixed;
	background-color: #222222;;
	background-size: cover;*/
	background: radial-gradient(circle, rgba(218,241,255,1) 0%, rgba(62,83,104,1) 95%);
}


/*****************************************************************************************************************************/


/*********************************************************ACCEUIL LOGIN*************************************************************/

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}

.modal-content {
	background-color: #434e5a;
	opacity: 1;
	padding: 0 18px;
	border-radius: 10px;
}

.user-img img {
	height: 120px;
	width: 120px;
}

.user-img {
	margin-top: -60px;
	margin-bottom: 45px;
}

.form-group-login {
	margin-bottom: 25px;
}

.form-group-login input {
	height: 45px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 54px;
}

.form-group-login::before {
	font-family: 'Font Awesome\ 5 Free';
	content: "\f007";
	position: absolute;
	font-size: 22px;
	left: 28px;
	padding-top: 4px;
	color: #555e60;
}

.form-group-login:last-of-type::before {
	content: "\f023";
}

.form-input button {
	width: 45%;
	margin: 5px 0 25px;
}

.btn-success {
	background-color: #375a7f;
	font-size: 19px;
	border-radius: 5px;
	border: 1px solid #daf1ff;
}

.btn-grad {
	background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

.btn-grad:hover { 
	background-position: right center;
} 

.login-title {
	padding-bottom: 15px;
}

.forgot {
	padding: 5px 0 25px;
}

.forgot a {
	color: #daf1ff;
}

.forgot-title {
	text-align: center;
	color: #515151;
	padding-bottom: 15px;
}

/*****************************************************************************************************************************/



/*********************************************************Config Robot*************************************************************/

#title_config {
	font-family: azonixregular, sans-serif !important;
	text-align: center;
	color: initial;
	text-shadow: -1px 1px 0px #eee,
		-1.5px 1.5px 0px #eee,
		-2px 2px 0px #e5e5e5,
		-2.5px 2.5px 0px #e5e5e5,
		-3px 3px 0px #C8C8C8,
		-3.5px 3.5px 0px #C8C8C8,
		-4px 4px 0px #C1C1C1,
		-4px 5px 2px rgba(0,0,0, 0.6),
		-4px 5px 8px rgba(0,0,0, 0.2),
		-4px 5px 45px rgba(0,0,0, 0.4);
}
#fanuc_img {
	display: block;
    margin-left: auto;
	margin-right: auto;
	height: 400px;
}
#edit_logo {
	display: block;
    margin-left: auto;
	margin-right: auto;
}

/**************************************************************Modification du MDP***************************************************************/

  
  
.label-form {
	width: 100%;
	color: #555;
	font-size: 15px;
	font-weight: 700;
}
  
 

/* ==========================================================================
   #SPACING
========================================================================== */
  
.p-t-45 {
	padding-top: 45px;
}

.p-b-50 {
	padding-bottom: 50px;
}
  
/* ==========================================================================
	#WRAPPER
========================================================================== */

.wrapper {
	margin: 0 auto;
}

.wrapper--w790 {
	max-width: 790px;
}	

/* ==========================================================================
	#TITLE
========================================================================== */

.title-reset {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	color: #fff;
}
  
/* ==========================================================================
	#CARD
========================================================================== */

.card {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
}

.card-5 {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-5 .card-heading {
	padding: 20px 0;
	background: #1a1a1a;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
}

.card-5 .card-body {
	padding: 52px 85px;
	padding-bottom: 73px;
}

@media (max-width: 767px) {
	.card-5 .card-body {
		padding: 40px 30px;
		padding-bottom: 50px;
	}
}